@mixin button ($height: 30px, $padding: '', $force: false){
  min-height: 0;

  @if $height != "" {
    height: $height if-important($force);
  }

  @if $padding != "" {
    padding: 0 $padding if-important($force);
  }

}

/* .btn-success {
  background-color: $accent;
}

.btn-link {
  padding: 0;

  transition: color .25s !important;

  &:hover {
    color: $secondary !important;

    .q-focus-helper {
      background: transparent !important;
    }
  }
}

.link {
  color: $primary;
  text-decoration: underline;

  cursor: pointer;
} */